{
    "subscription_id": "",
    "tenant_id": "",
    "admin_user_name": "reddogadmin",
    "rgNamePrefix": "rk",
    "sql_admin_user_name": "reddogadmin",
    "sql_admin_passwd": "nJ0fqrQx7T^NZFl4sFf*U",

    "hub":
    {
        "hubName":"hub",
        "location":"eastus"
    }
}
